@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-VariableFont_opsz\,wght.ttf");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-Italic-VariableFont_opsz\,wght.ttf");
    font-weight: 100 900;
    font-style: italic;
}


:root {
    --background-color: #F4F4F4;
    --background-gradient: radial-gradient(at center top, #F4F4F4, #EEEEEE);
    --text-color: #454545;
    --text-color-less-contrast: #777777;
    --text-color-more-contrast: #333;
    --text-color-invert: #f5f5f5;

    --primary-color: #901AE5;
    --card-color-default: #F6F6F6;
    --card-color-high-priority: #901AE5;
    --card-color-medium-priority: #FEF7E7;
    --card-color-low-priority: #E7F6FE;
    
    --stroke-color-default: #B0B0B0;
    --stroke-color-high-priority: #8D2DD2;
    --stroke-color-medium-priority: #EBBA47;
    --stroke-color-low-priority: #47B1EB;

    --hover-color: #EAEAEA;
    --text-input-background: #e6e6e6;
    --red: #e96161;

    --drop-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

* {
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    padding: 2rem 2rem 0;
    background: var(--background-color);
    background: var(--background-gradient);
}

button:hover {
    cursor: pointer;
}

.logo-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    align-items: center;
    row-gap: 0.5rem;
}

.logo {
    width: 50px;
    aspect-ratio: 1;
    color: var(--primary-color);
}

.site-name {
    color: var(--primary-color);
}

.motto {
    grid-column: span 2;
    color: #454545;
    font-size: 0.8rem;
    font-style: italic;
    padding: 0 1rem;
}

.main-container {
    height: 100%;
    display: grid;
    grid-template-columns: clamp(200px, 20%, 275px) 1fr clamp(200px, 20%, 275px);
    grid-template-rows: auto 1fr;
    row-gap: 2rem;
    column-gap: 10%;
}

.content-view-container {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.left-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.side-nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--card-color-default);
    border: 1px solid var(--stroke-color-default);
    border-radius: 10px;
    box-shadow: var(--drop-shadow);
    padding: 1rem;
    padding-top: 1.5rem;
    gap: 0.2rem;
}

.nav-btn {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    background: none;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 0.4rem;
    padding-right: 0.5rem;
    color: var(--text-color);
}

.nav-btn:hover {
    background-color: var(--hover-color);
}

.nav-btn-icon {
    height: 1.4rem;
}

.nav-btn-text {
    font-size: 0.9rem;
}

.task-count {
    font-size: 0.8rem;
    margin-left: auto;
    color: var(--text-color-less-contrast);
}

.project-section {
    width: 100%;
}

.project-section-heading {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0 0 0 0.4rem;
    color: var(--text-color);
}

#add-project {
    margin-left: auto;
    height: 1.8rem;
    aspect-ratio: 1;
    border: none;
    border-radius: 5px;
    padding: 0;
    background: none;
}

#add-project:hover {
    background-color: var(--hover-color);
}

#add-project svg {
    width: 100%;
    aspect-ratio: 1;
}

.date-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date-display {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    font-weight: bold;
    height: 3rem;
    box-shadow: var(--drop-shadow);
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.quick-tasks-container {
    position: relative;
    background-color: var(--card-color-default);
    border: 1px solid var(--stroke-color-default);
    border-radius: 5px;
    color: var(--text-color);
    height: 50vh;
    padding: 1.5rem;
    box-shadow: var(--drop-shadow);
}

.quick-tasks-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--stroke-color-default);
}

#quick-tasks-list {
    flex: 1;
    background-color: red;
}

.quick-task-input-container {
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 0.5rem 1rem;
    border-top: 1px solid var(--stroke-color-default);
    width: 100%;
}

#quick-task-input {
    padding: 0.3rem;
    color: var(--primary-color);
    background-color: var(--text-input-background);
    border: 1px solid var(--stroke-color-default);
    border-radius: 5px;
}

#quick-task-input:focus-visible {
    outline: none;
    border: 1px solid var(--primary-color);
}

.credit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.credit-text {
    font-size: 0.9rem;
    color: var(--text-color);
}

.github-link {
    color: var(--primary-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.github-link svg {
    width: 1.8rem;
}

.toggle-theme {
    display: flex;
    align-self: start;
    align-items: end;
    gap: 0.5rem;
    margin-top: 2rem;
    padding-top: 0.5rem;
    background: none;
    border: none;
    font-size: 0.9rem;
    color: var(--text-color);
}

.toggle-theme:hover {
    color: var(--text-color-more-contrast);
}

.theme-icon {
    display: inline-block;
    width: 1.5rem;
    aspect-ratio: 1;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 16q-1.671 0-2.835-1.164Q8 13.67 8 12t1.165-2.835T12 8t2.836 1.165T16 12t-1.164 2.836T12 16M2 12.5q-.213 0-.356-.144t-.144-.357t.144-.356T2 11.5h2.5q.213 0 .356.144t.144.357t-.144.356t-.356.143zm17.5 0q-.213 0-.356-.144T19 11.999t.144-.356t.356-.143H22q.213 0 .356.144t.144.357t-.144.356T22 12.5zM12 5q-.213 0-.357-.144T11.5 4.5V2q0-.213.144-.356t.357-.144t.356.144T12.5 2v2.5q0 .213-.144.356T11.999 5m0 17.5q-.212 0-.356-.144T11.5 22v-2.5q0-.213.144-.356t.357-.144t.356.144t.143.356V22q0 .213-.144.356t-.357.144M6.362 7.03l-1.44-1.395q-.147-.14-.144-.344t.149-.37q.16-.165.354-.165t.354.165L7.05 6.342q.16.166.16.354q0 .189-.15.354t-.342.153t-.356-.172m12.004 12.048l-1.416-1.421q-.16-.166-.16-.357t.16-.351q.13-.165.327-.153q.196.013.362.172l1.44 1.397q.146.14.143.344t-.149.369q-.16.165-.354.165t-.354-.165M16.95 7.059q-.165-.15-.153-.34t.172-.358l1.397-1.44q.14-.146.344-.143t.369.149q.165.16.165.354t-.165.353L17.658 7.05q-.166.16-.354.16t-.354-.15M4.921 19.083q-.165-.17-.165-.364t.165-.353l1.421-1.416q.166-.16.357-.16q.192 0 .351.16q.146.13.134.327q-.013.196-.153.362l-1.397 1.44q-.159.165-.353.162q-.195-.002-.36-.158'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.add-task-dialog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
}

.dialog-form {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 1.5rem;
    background: var(--card-color-default);
    border: 2px solid var(--stroke-color-default);
    border-radius: 10px;
}

.dialog-form input[type="text"], .dialog-form textarea {
    background: none;
    border: none;
    border-radius: 5px;
    color: var(--text-color);
}

textarea {
    border: 1px solid red;
}

.dialog-form input[type="text"]::placeholder, .dialog-form textarea::placeholder {
    color: var(--text-color-less-contrast);
    font-style: italic;
}

#title-input {
    font-size: 1.2rem;
    font-weight: 500;
}

#description-input {
    resize: none;
    border: none;
    border-radius: 5px;
    background: none;
}

#title-input:focus-visible, #description-input:focus-visible {
    outline: none;
    border: 1px solid var(--stroke-color-default);
}

.options-container {
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.options-left {
    flex: 1;
    display: flex;
    align-items: start;
    flex-wrap: nowrap;
    gap: 0.5rem;
}

.options-left > * {
    border: 1px solid var(--stroke-color-default);
    border-radius: 5px;
    color: var(--text-color);
    height: 1.6rem;
}

.options-left > *:focus-visible {
    outline: none;
    border: 1px solid var(--primary-color);
}

.options-right {
    flex: 1;
    display: flex;
    justify-content: right;
    gap: 1rem;
}

.options-container button {
    color: var(--text-color);
    padding: 0.4rem 0.8rem;
    border: none;
    border-radius: 5px;
}

.options-container button[type="submit"] {
    background-color: var(--primary-color);
    color: white;
}

.options-container button:hover {
    filter: brightness(90%);
}

