.page-header {
    position: relative;
    display: flex;
    align-items: end;
    gap: 1rem;
    padding-bottom: 0.8rem;
}

.page-header::before {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    border-bottom: 1px solid var(--text-color);
    filter: brightness(200%);
}

.page-title {
    margin-right: auto;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
}

.add-task-button {
    background: none;
    border: none;
    display: flex;
    gap: 0.2rem;
    text-wrap: nowrap;
    align-items: center;
    color: var(--primary-color);
}

.add-task-icon {
    width: 2rem;
}

.sort-dropdown {
    position: relative;
    display: flex;
    align-items: end;
}

.sort-button {
    color: var(--text-color-more-contrast);
    width: 2rem;
    aspect-ratio: 1;
    margin: 0;
    padding: 0.2rem;
    background: none;
    border: none;
}

.sort-dropdown-menu {
    position: absolute;
    top: calc(100% + 0.25rem);
    left: 0;
    display: none;
    flex-direction: column;
    background-color: var(--card-color-default);
    border: 1px solid var(--stroke-color-default);
    border-radius: 5px;
}

.sort-dropdown.active .sort-dropdown-menu {
    display: flex;
}

.sort-dropdown-menu button {
    color: var(--text-color);
    text-wrap: nowrap;
    background: none;
    border: none;
    padding: 0.2rem 0.5rem;
}

.sort-dropdown-menu button:hover {
    color: var(--text-color-more-contrast);
    background: var(--stroke-color-default);
}

.task-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding-top: 1.5rem;
    gap: 1rem;
}

.card {
    display: flex;
    gap: 1rem;
    align-items: start;
    background: var(--card-color-default);
    border: 1px solid var(--stroke-color-default);
    border-radius: 10px;
    padding: 1rem 1.5rem;
    color: var(--text-color);
}

.card.high-priority {
    color: var(--text-color-invert);
    background: var(--card-color-high-priority);
    border: 1px solid var(--stroke-color-high-priority);
}

.card.medium-priority {
    background: var(--card-color-medium-priority);
    border: 1px solid var(--stroke-color-medium-priority);
}

.card.low-priority {
    background: var(--card-color-low-priority);
    border: 1px solid var(--stroke-color-low-priority);
}

.card-checkbox {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    margin: 0;
    border: 2px solid var(--stroke-color-default);
    border-radius: 50%;
    width: 1.2rem;
    aspect-ratio: 1;
    transform: translateY(0.1rem);

    display: grid;
    place-content: center;
}

.high-priority .card-checkbox {
    border: 2px solid var(--text-color-invert);
}

.medium-priority .card-checkbox {
    border: 2px solid var(--stroke-color-medium-priority);
}

.low-priority .card-checkbox {
    border: 2px solid var(--stroke-color-low-priority);
}

.card-checkbox::before {
    content: "";
    width: 0.8rem;
    aspect-ratio: 1;
    border-radius: 50%;
    transform: scale(0);
    transition: 100ms transform ease-in-out;
    background-color: var(--primary-color);
}

.card-checkbox:checked::before{
    transform: scale(1);
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.task-title {
    font-weight: 500;
}

.extra-info {
    font-size: 0.8rem;
    display: flex;
    gap: 0.5rem;
}

.extra-info-tag {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.card-icon {
    width: 1rem;
}

.card-options {
    display: none;
    gap: 0.6rem;
    margin-left: auto;
}

.card:hover .card-options {
    display: flex;
}

.card-options button {
    height: 1.6rem;
    aspect-ratio: 1;
    padding: 0;
    background: none;
    border: none;
}

.edit-button {
    color: inherit;
}

.delete-button {
    color: var(--red);
}